<!DOCTYPE html>
<html>
<head>
	<title>sign in</title>
	<link rel="stylesheet" type="text/css" href="signin.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

		<div class="container inner-div ">
			<div class="row">

				<div class="col-lg-5 col-md-5 col-sm-12">
					<div class="container col1">

					<a href="/">	<img src="https://svgshare.com/i/Wzu.svg" alt="Splash-Screen" border="0" width="120" height="80"></a>

						<div class="form1 ">
							<form action="/signup" method="POST">
						  <div class="form-group text-left">
						    <label class="f-label" for="Username">Username</label>
						    <input type="text" class="form-control f-input" id="Username" aria-describedby="emailHelp" placeholder="" name="username">

						  </div>

						   <div class="form-group text-left">
						    <label class="f-label" for="InputEmail1">Email-address</label>
						    <input type="email" class="form-control f-input" id="InputEmail1" aria-describedby="emailHelp" placeholder="" name="email">

						  </div>

						   <div class="form-group text-left">
						    <label class="f-label" for="Password1">Password</label>
						    <input type="password" class="form-control f-input" id="Password1" aria-describedby="emailHelp" placeholder="" name="password">

						  </div>
						   <div class="form-group text-left">
						    <label class="f-label" for="Password2">Confirm Password</label>
						    <input type="password" class="form-control f-input" id="Password2" aria-describedby="emailHelp" placeholder="" >

						  </div>



						  <button type="submit" class="btn btn-primary f-button mt-2" style="width: 90%;background-color: #082640;">Sign Up</button>

						  <button type="submit" class="btn btn-light f-button  " style="width: 90%;  background-color: #FFFFFF;color:#082640; "><i style="margin-left: 10px ;margin-right: 10px;"><img src="https://svgshare.com/i/X10.svg" width="20" height="20"></i> Continue With Google</button>


						</form>
						<div style="text-align: center; margin-top: 5px;">
								<p style="font-size: 10px ">Do you have an account? <span><a href="/login" class="a-link">Sign In</a></span></p>
							</div>

						</div>
					</div>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-12">	</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="container col2 mt-4">
						<img src="https://svgshare.com/i/X2N.svg" width="100%" height="100%">
					</div>
				</div>
			</div>
		</div>


</body>
</html>
