<%- include('./header.ejs') %>

<section>
    <div class="container">
        <div class="row mt-4">
                <div class="col-lg-6 col-md-6 col-sm-12 img-hover-zoom ">
   
   
                    <img src="https://i.ibb.co/Nj3Yytq/oie-8-As-Pe-B8gg-Ijn.png" alt="oie-8-As-Pe-B8gg-Ijn" border="0" width="70%" height="90%" >
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ">
                    <h2 class=" users-title"> Satisfaction guaranteed </h2>
                        <ul class="app">
                            <li>Better Writing in Less Time </li>
                            <p style="color: #082640;">Improve your writing quickly and efficiently with grammar, spelling, and readability improvements delivered in real-time as you write.</p>
   
                            <li>Low price & High quality</li>
                            <p style="color: #082640;">Nothing makes a writer lose credibility faster than spelling and grammar mistakes we provide error-free writing and insights into the reasons behind a mistake with limited money suitable to our users.</p>
                            <li>Find the Right Words</li>
                           <p style="color: #082640;">we help you avoid confusion and miscommunication in your message and suggesting alternative words to ensure your writing is accurate and clear.<p>
                               <button type="button" class="btn btn-outline-light btn-lg download-button"> <a href="/translator">Translate</a></button>
                        </ul>
   
                </div>
            </div>
    </div>
   </section>


<button><a href=""> hi</a></button>


<%- include('./footer.ejs') %>