<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>learn</title>
    <link rel="stylesheet" type="text/css" href="/app.css">
    <link rel="stylesheet" type="text/css" href="features.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<!-- Font Awesome -->
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
  
</head>
<body>
<div class="container">
	<!-- navbar -->

			<nav class="navbar navbar-expand-lg  navbar-dark ">

        <a class="navbar-brand" href="/"><img src="https://svgshare.com/i/Wzu.svg" alt="Splash-Screen" border="0" width="120" height="90"></a>

         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/feature">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/learn">Learn</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Use App</a>
                </li>
    
                <% if(!currentUser){ %>
                  <li> <a href="/login" class="nav-link">Login</a></li>
                  <li> <a href="/signup" class="nav-link">Sign Up</a></li>
              <% } else { %>
                  <li> <a href="#" class="log nav-link ">Welcome  <%= currentUser.username %>  <i class="far fa-user-circle fa-lg"></i></a></li>
                  <li> <a href="/logout" class="nav-link">Logout</a></li>
              <% } %>
              </ul>

        </div>
         <div class=" justify-content-end ">
        <ul class="nav ">
          
          <li class="nav-item ">

            <a class="nav-link " href="#" > <i class="far fa-user-circle fa-lg"></i></a>
          </li>
         
          
        </ul>
      </div>
      </nav>
    </div>
    <!-- First sec -->

      <section class="">
        <div class="container-fluid first">
                <div class="container ">
                 <h2>How Can Clerk Help Your Writing?</h2>
                 <p>Writing is difficult, but perfecting your content with our grammar checker is easy!  Clerk’s free online grammar corrector helps you avoid mistakes and polish your writing so your ideas shine, instead of your typos..</p>
                </div>  
        </div>
             
      </section>    

<br> <br>
    <!-- First sec -->

     <section>
       <div class="container mt-4">
         <div class="row">
           <div class="col-lg-6 col-md-6 col-sm-12">
             <h3 class="h"><i class="fas fa-angle-double-right icon"></i> Grammar Correction</h3>
               <p class="p">Should you use “effect” or “affect”? What’s the difference between “their”, “there”, and “they’re”? , There’s so much to remember when it comes to proper English grammar.
               When your writing assignment, autobiography, etc. run it through Clerk to catch every error, big or small, common or obscure. With one click, all grammar, spelling, and punctuation errors will be found and suggested edits will be shown or applied
              </p>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12 img">
            <iframe src="https://giphy.com/embed/CvNH3h5ol87dom2Y9q" width="241" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p>
             
           </div>
         </div>
       </div>
     </section>

     <!-- 2nd sec -->

     <section>
      
          <div class="container ">
         <div class="row">
          
           <div class="col-lg-6 col-md-6 col-sm-12 img">
            <iframe src="https://giphy.com/embed/6slSQs3Adic0BCoFzb" width="241" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
             
           </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
             <h3 class="h"><i class="fas fa-angle-double-right icon"></i> Translation</h3>
               <p class="p">Translation can also be difficult because of cultural differences, One of the difficulties is polysemy “To get a bus” (take), “To get the gist” (understand)
                , To get some food” (buy). Translators need linguistic, socio-cultural, and pragmatic competence of the two languages to translate. There is associative meaning in languages, with clerk you get your appropriate meaning based on context
              </p>
           </div>
         </div>
       </div>
       
     </section>

     <!-- 3rd sec -->
  <section>
       <div class="container mt-4">
         <div class="row">
           <div class="col-lg-6 col-md-6 col-sm-12">
             <h3 class="h"><i class="fas fa-angle-double-right icon"></i> Summarizing</h3>
               <p class="p">Our summarizer tool will help you get the information that you need.
                Clerk's summarizer can condense articles, papers, or documents down to the key points instantly. Our AI uses natural language processing to locate critical information while maintaining the original context.

              </p>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12 img">
            <iframe src="https://giphy.com/embed/brcAezEwdr2WQk7jwj" width="241" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
             
           </div>
         </div>
       </div>
     </section>


      <!-- 2nd sec -->

     <section>
      
          <div class="container ">
         <div class="row">
          
           <div class="col-lg-6 col-md-6 col-sm-12 img">
            <iframe src="https://giphy.com/embed/DTasCkiTn7ipifLFjN" width="241" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
             
           </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
             <h3 class="h"><i class="fas fa-angle-double-right icon"></i> Text Extraction</h3>
               <p class="p">Clerk text extractor will allow you to extract text from any image. You may upload an image or document (.doc, .pdf) and the tool will pull text from the image. Once extracted, you can copy it to your clipboard with one click or save extracted text to your device.
              </p>
           </div>
         </div>
       </div>
       
     </section>

<br><br>
      <section class="">
        <div class="container-fluid first">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12"></div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                       <h4>Whatever kind of writer you are,Clerk will help you improve your writing and get your ideas across more clearly.</h4>
                      <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Try it for free </button>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12"></div>
                  </div>
            </div>
              
            
          </div>  
        </div>
             
      </section> 
      <br><br>


</body>
</html>

<%- include('./footer.ejs') %>