
<!-- Footer -->

<footer>
  <div class="row " style="text-align: center;">
    <div class="col-lg-3 col-md-3 fa-lg "></div>
    <div class="col-lg-6 col-md-6 col-sm-12 fa-lg">
       <i class="social-icon fab fa-facebook-f fa-lg"></i>
      <i class="social-icon fab fa-twitter fa-lg"></i>
      <i class="social-icon fab fa-instagram fa-lg"></i>
      <i class="social-icon fas fa-envelope fa-lg"></i>
      <p>© Copyright 2021 Clerk</p>
    </div>
  </div>
</footer>
</body>
</html>

