<footer class="footer">
       <div class="footer__text container">
           <p>
            © Copyright 2021 Clerk
                 </p>
           <hr class="footer__hr">
       </div>
   <div class="footer__sections container">
     <div class="footer__section">
     <span class="footer__title">COMPANY</span>
     <a href="#" class="footer__link">About</a>
    <a href="#" class="footer__link">features</a>
    <a href="#" class="footer__link">Contact Us</a>
       <a href="#" class="footer__link">Help</a>
         </div>
          <div class="footer__section">
        <span class="footer__title">Us</span>
         <i class="fa fa-phone "></i>
       <p>+91 22-27782183</p>
                 <i class="fa fa-envelope"></i>
               <p><a href="mailto:support@eduonix.com">Support@Clerk.com</a></p>
            </div>
         <div class="footer__section">
                      <span class="footer__title">lEGAL</span>
                      <a href="#" class="footer__link">Privacy</a>
                   <a href="#" class="footer__link">Terms</a>
          </div>
          <div class="footer__section">
                      <span class="footer__title">SOCIAL</span>
                      <a href="#"><i class="social-icon fab fa-facebook-f"></i></a>
                      <a href="#"><i class="social-icon fab fa-twitter"></i></a>
                      <a href="#"><i class="social-icon fab fa-instagram"></i></a>
                      <a href="#"><i class="social-icon fas fa-envelope"></i></a>

            </div>
              </div>
 </footer>
</body>
</html>
