
	
<%- include('./header.ejs') %>

<!-- First sec -->
      <section>
      	<div class="container intro">
      		<h2 class="h" style="padding: 20px;">We all write because we have an idea that we want to share.</h2>
      		<h4 class="h">Use Clerk free online grammar checker to perfect your English by reviewing your writing for grammar, spelling, and punctuation errors.</h4>
      		<p class="p"> Writing is difficult, but perfecting your content with our grammar checker is easy! When you need to review your writing or English for grammar, spelling, and punctuation, Clerk is here to help make editing painless. Clerk’s free online grammar corrector helps you avoid mistakes and polish your writing so your ideas shine, instead of your typos.</p>

      	</div>
      </section>

<!-- 2nd sec -->
	<section style="margin-top: 10%;">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-8 col-sm-12 left-text">
					<h3 >Correct Grammar</h3>
					<p style="color: #606063;">Should you use “effect” or “affect”? What’s the difference between “their”, “there”, and “they’re”? There’s so much to remember when it comes to proper English grammar. Luckily, Clerk has your back with the best online grammar checker out there--and it’s free! Don’t worry about grammar errors.</p>
				</div>
				<div class="col-lg-5 col-md-4 col-sm-12 img">
					<img  src="https://quillbot.com/images/theme/light/grammarChecker/grammar.svg">
				</div>
			</div>
		</div>

	</section>

<!-- 3rd sec -->
<section style="margin-top: 10%;">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-4 col-sm-12 img">
					<img src="https://quillbot.com/images/theme/light/grammarChecker/spelling.svg">
				</div>
				<div class="col-lg-7 col-md-8 col-sm-12 left-text">
					<h3 >Fix Spelling</h3>
					<p style="color: #606063;">Spelling can seem very simple, and yet, the English language has so many unique rules that less sophisticated spell check tools often miss glaring mistakes. Clerk corrects for more than just misspelled words--we’ve got you covered with those tricky misused words as well. Spell check your work for free online, and make spelling errors a thing of the past.</p>
				</div>
				
			</div>
		</div>

	</section>
	

<!-- 4th sec -->
	<section style="margin-top: 10%;">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-8 col-sm-12 left-text">
						<h3 >Check Punctuation</h3>
						<p style="color: #606063;">What’s a comma splice? When is it appropriate to use a semicolon? Even those who are great at spelling and grammar can sometimes struggle with the many, and often confusing, rules of punctuation. Grammar Check works hard to identify and correct all kinds of punctuation errors, all for free online. Save your brainpower for articulating your ideas, and leave the punctuation checking and correcting to us.</p>
					</div>
					<div class="col-lg-5 col-md-4 col-sm-12 img">
						<img src="https://quillbot.com/images/theme/light/grammarChecker/punctuation.svg">
					</div>
				</div>
			</div>

		</section>



<!-- 5th sec -->
<section style="margin-top: 10%;">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-4 col-sm-12 img">
					<img src="https://quillbot.com/images/theme/light/grammarChecker/grammaticalErrors.svg">
				</div>
				<div class="col-lg-7 col-md-8 col-sm-12 left-text">
					<h3 >Correct A Multitude of Grammatical Errors with Just One Click</h3>
					<p style="color: #606063;">We care that your workflow is streamlined. That’s why we rolled 3 tools into 1 with our cutting-edge grammar checker! When your writing assignment, autobiography, etc. has been polished with content edits, run it through Clerk to catch every error, big or small, common or obscure. With one click, all grammar, spelling, and punctuation errors will be found and suggested edits will be shown or applied.</p>
				</div>
				
			</div>
		</div>

	</section>

<!-- 6th sec -->
	<section style="margin-top: 10%;">
			<div class="container">
				<div class="row">
					<div class="col-lg-1 col-md-1 col-sm-12 "></div>
					<div class="col-lg-8 col-md-8 col-sm-12 left-text">
						<h3 >Learn as You Check and Correct</h3>
						<p style="color: #606063; ">Every writer’s background is different. Some of us had great writing courses, while others learned through trial and error. When the grammar checker flags mistakes in your writing, it visually brings these issues to your attention, helping you learn and grow into a better, more compelling writer.</p>
						
						<p style="color: #606063;">“That’s how you spell ‘receipt’? I’ve been spelling it wrong forever!” <br> “I guess I do need a conjunction between these two phrases separated by a comma. They are both complete thoughts--I understand comma splices now!”</p>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-12  ">
						<img src="https://quillbot.com/images/theme/light/grammarChecker/learn.svg" style="margin-top: 20px;">
					</div>
				</div>
			</div>

		</section>

	
		
</div>

<!-- 7th sec -->
<section>
<div class="container-fluid mt-4" >
			<div class="row" > <img src="https://quillbot.com/images/theme/light/grammarChecker/yellowWave.png" width="100%" height="auto"></div>
			<div class="row"  style="text-align: center; background-color:#FFFBEFE6 ;">
				<div class="col-lg-1 col-md-2 col-sm-12"></div>
				<div class="col-lg-9 col-md-8 col-sm-12 intro">
					<p class="p" style="font-size: 2rem;">You asked. We delivered.</p>
					<p>At Clerk, we are committed to making writing painless, and that means building the most robust writing and research platform in the world. Backed by AI technology, our models are more dynamic than any other tools on the market, and we are always looking for ways to improve our users’ experience and workflow.</p>
					<p>You asked for a grammar checker to simplify your workflow in conjunction with our existing paraphraser and summarizer, so we listened. We’re so excited to present this new tool, and we can’t wait to hear about the time savings it provides. Do you have other ideas?</p>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-12"></div>
			</div>
			
		</div>
	</section>
<!-- 8th sec -->
		<!-- <section>
				<div class="container " style="margin-top: 10%;">
					  <div class="row ">
					  	<div class="col-lg-1 col-md-2 col-sm-12"></div>
								<div class="col-lg-10 col-md-8 col-sm-12"><p class="p" style="font-size: 1.4rem; text-align: center;">Below are some other examples of grammar, spelling, and punctuation errors that QuillBot’s grammar check will identify and help you understand how to fix.</p></div>
								<div class="col-lg-1 col-md-2 col-sm-12"></div> 	
					   </div>

					   <div class="row">
					   	<div class="col-lg-1 col-md-2 col-sm-12"></div>
								<div class="col-lg-10 col-md-8 col-sm-12" >
									<table class="table table-striped ">
												  <thead>
												    <tr>
												      <td class="table-info">
												      	<img src="https://quillbot.com/images/grammar-checker/TopicImgNew.png" style="text-align: left;">
												      	<h3>Topic</h3>
												      </td>
												      <td class="table-danger">...</td>
												      <td class="table-success">...</td>
												     
												    </tr>
												  </thead>
												  <tbody>
												    <tr>
												      <th scope="row">1</th>
												      <td>Mark</td>
												      <td>Otto</td>
												     
												    </tr>
												    <tr>
												      <th scope="row">2</th>
												      <td>Jacob</td>
												      <td>Thornton</td>
												      
												    </tr>
												    <tr>
												      <th scope="row">3</th>
												      <td>Larry</td>
												      <td>the Bird</td>
												     
												    </tr>
												  </tbody>
												</table>
											</div>
								<div class="col-lg-1 col-md-2 col-sm-12"></div> 	
					   </div>
					   </div>

				
			   </div>
		</section> -->

        <%- include('./footer.ejs') %>
</body>
</html>